.Footer-container{
    background-color:whitesmoke;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 3%
}
.Footer-logo{
    display: flex;
    font-family: 'Poiret One', cursive;
    font-size: 24px;
}
.text-logo{
  margin-right: 10px;
  ;
}